/*! Feral Creative CSS Utilities v2025.04.18.0649: https://feralcreative.co */
.absolute {
  position: absolute !important;
}

.hidden,
.hide,
.invisible {
  visibility: none;
}

.fpop {
  -webkit-box-shadow: inset 0px 0px 0px 2px #9b00ff;
  -moz-box-shadow: inset 0px 0px 0px 2px #9b00ff;
  box-shadow: inset 0px 0px 0px 2px #9b00ff;
}
.fpop.bg {
  background: rgba(155, 0, 255, 0.2666666667);
}

.fpor {
  -webkit-box-shadow: inset 0px 0px 0px 2px #f00;
  -moz-box-shadow: inset 0px 0px 0px 2px #f00;
  box-shadow: inset 0px 0px 0px 2px #f00;
}
.fpor.bg {
  background: rgba(255, 0, 0, 0.1333333333);
}

.fpoo {
  -webkit-box-shadow: inset 0px 0px 0px 2px #964b00;
  -moz-box-shadow: inset 0px 0px 0px 2px #964b00;
  box-shadow: inset 0px 0px 0px 2px #964b00;
}
.fpoo.bg {
  background: rgba(150, 75, 0, 0.2);
}

.fpoor {
  -webkit-box-shadow: inset 0px 0px 0px 2px #ffa503;
  -moz-box-shadow: inset 0px 0px 0px 2px #ffa503;
  box-shadow: inset 0px 0px 0px 2px #ffa503;
}
.fpoor.bg {
  background: rgba(255, 165, 3, 0.2);
}

.fpoy {
  -webkit-box-shadow: inset 0px 0px 0px 2px #cc0;
  -moz-box-shadow: inset 0px 0px 0px 2px #cc0;
  box-shadow: inset 0px 0px 0px 2px #cc0;
}
.fpoy.bg {
  background: rgba(204, 204, 0, 0.1333333333);
}

.fpog {
  -webkit-box-shadow: inset 0px 0px 0px 2px #0a0;
  -moz-box-shadow: inset 0px 0px 0px 2px #0a0;
  box-shadow: inset 0px 0px 0px 2px #0a0;
}
.fpog.bg {
  background: rgba(0, 170, 0, 0.2);
}

.fpoc {
  -webkit-box-shadow: inset 0px 0px 0px 2px #0ff;
  -moz-box-shadow: inset 0px 0px 0px 2px #0ff;
  box-shadow: inset 0px 0px 0px 2px #0ff;
}
.fpoc.bg {
  background: rgba(0, 255, 255, 0.2);
}

.fpob {
  -webkit-box-shadow: inset 0px 0px 0px 2px #00f;
  -moz-box-shadow: inset 0px 0px 0px 2px #00f;
  box-shadow: inset 0px 0px 0px 2px #00f;
}
.fpob.bg {
  background: rgba(0, 0, 255, 0.1333333333);
}

.fpo,
.fpom {
  -webkit-box-shadow: inset 0px 0px 0px 2px #f0f;
  -moz-box-shadow: inset 0px 0px 0px 2px #f0f;
  box-shadow: inset 0px 0px 0px 2px #f0f;
}
.fpo.bg,
.fpom.bg {
  background: rgba(255, 0, 255, 0.1333333333);
}
.fpo .out,
.fpom .out {
  border-color: #f0f;
}

.fpo.out,
.fpom.out,
.fpop.out,
.fpor.out,
.fpoc.out,
.fpoy.out,
.fpog.out,
.fpob.out,
.fpoo.out,
.fpoor.out {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid;
}

.fpop.out {
  border-color: 1px solid #9b00ff;
}

.fpoc.out {
  border-color: #0ff;
}

.fpoy.out {
  border-color: #cc0;
}

.fpor.out {
  border-color: #f00;
}

.fpog.out {
  border-color: #0a0;
}

.fpob.out {
  border-color: #00f;
}

.fpoo.out {
  border-color: #964b00;
}

.fpoor.out {
  border-color: #ffa503;
}

fpom .nc::before {
  content: "NEED CONTENT \a";
  font-size: inherit !important;
}

.li::before {
  content: "FPO \a";
  font-size: inherit !important;
}

.nc::before {
  content: "NEED CONTENT \a";
  font-size: inherit;
}

.nc::before,
.li::before {
  font-weight: bold;
  color: #f0f;
  white-space: pre-wrap;
  font-size: inherit !important;
}

.li,
.nc {
  background-color: rgba(221, 0, 221, 0.1333333333);
  border-radius: 5px;
  padding: 5px;
  font-size: inherit !important;
}

.mono {
  font-family: monospace;
}

pre {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #880088;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

.white {
  color: white !important;
}

img.sample,
img.placeholder,
img.missing {
  background-color: lightgray;
}

.fpo-image {
  background-image: url("https://dev.feralcc.com/media/fpo.png");
  background-size: repeat;
}

.fpo-overlay::before {
  content: "FPO";
  font-size: 10vh;
  line-height: 1em;
  font-weight: 700;
  position: relative;
  z-index: 999;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 0, 255, 0.4);
  text-align: center;
}

/* 
<section class="viewport-widget top container-fluid">
<div class="row">
    <div class="col-xs-12 text-center">
        <div class="viewport-size">Viewport: </div>
    </div>
</section> 
*/
body:has(.viewport-widget) {
  padding-top: 25px !important;
}

.viewport-widget {
  width: 100vw !important;
  margin: 0 !important;
  align-items: center;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0.9;
}

.viewport-size {
  font-family: monospace;
  font-size: 0.75rem;
  line-height: 1em;
  color: white;
  padding: 5px;
  font-weight: 400;
  display: block;
  margin: auto;
  text-align: center;
}

.viewport-widget.top {
  top: 0;
}

.viewport-widget.bottom {
  bottom: 0;
}

/* XL */
@media (min-width: 1400px) {
  .viewport-size {
    background-color: blue;
    color: white;
  }
  .viewport-size:after {
    content: "XL (>1400px)";
    font-weight: 600;
  }
}
/* LG */
@media (min-width: 992px) and (max-width: 1399px) {
  .viewport-size {
    background-color: green;
    color: white;
  }
  .viewport-size:after {
    content: "LG (992-1399px)";
    font-weight: 600;
  }
}
/* MD */
@media (min-width: 768px) and (max-width: 991px) {
  .viewport-size {
    background-color: yellow;
    color: black;
  }
  .viewport-size:after {
    content: "MD (768-991px)";
    font-weight: 600;
  }
}
/* SM */
@media (min-width: 576px) and (max-width: 767px) {
  .viewport-size {
    background-color: orange;
    color: black;
  }
  .viewport-size:after {
    content: "SM (576-767px)";
    font-weight: 600;
  }
}
/* XS */
@media (max-width: 575px) {
  .viewport-size {
    background-color: red;
    color: white;
  }
  .viewport-size:after {
    content: "XS (<575px)";
    font-weight: 600;
  }
}
/* | Flexbox */
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex.center {
  align-items: center;
}

.flex.middle {
  justify-items: center;
}

.flex.stretch {
  align-items: stretch;
}

.flex.reverse {
  flex-wrap: wrap-reverse;
}

.flex-10 {
  flex: 10%;
}

.flex-20 {
  flex: 20%;
}

.flex-30 {
  flex: 30%;
}

.flex-40 {
  flex: 40%;
}

.flex-50 {
  flex: 50%;
}

.flex-60 {
  flex: 60%;
}

.flex-70 {
  flex: 70%;
}

.flex-80 {
  flex: 80%;
}

.flex-90 {
  flex: 90%;
}

.flex-100 {
  flex: 100%;
}

/*| BOOTSTRAP COLUMN WIDGET */
.grid-widget {
  position: fixed !important;
  width: 100vw !important;
  margin: auto !important;
  top: 0 !important;
  left: 0 !important;
  min-height: 100vh !important;
  z-index: 999 !important;
}

.grid-widget .grid-column {
  font-size: 2vw !important;
  font-weight: 500 !important;
  padding: 0;
  padding-top: 50px !important;
  color: rgba(255, 0, 255, 0.6);
  text-align: center !important;
  border: 0.5px solid #ff00ff;
  background-color: rgba(255, 0, 255, 0.1333333333);
  min-height: 100vh !important;
  width: calc(8.33vw - 27.5px);
  margin: 0 15px;
}

.grid-widget .grid-column:first-child {
  margin: 0 15px 0 0;
}

.grid-widget .grid-column:last-child {
  margin: 0 0 0 15px;
}

/*| DIV COLORING WIDGET */
/* 
section {
  -webkit-box-shadow: inset 0px 0px 0px 2px $fpor;
  -moz-box-shadow: inset 0px 0px 0px 2px $fpor;
  box-shadow: inset 0px 0px 0px 2px $fpor;
  background-color: $fpor-bg)
}
div {
  -webkit-box-shadow: inset 0px 0px 0px 2px $fpo;
  -moz-box-shadow: inset 0px 0px 0px 2px $fpo;
  box-shadow: inset 0px 0px 0px 2px $fpo;
  background-color: $fpo-bg)
}
div>div {
  -webkit-box-shadow: inset 0px 0px 0px 2px $fpoc;
  -moz-box-shadow: inset 0px 0px 0px 2px $fpoc;
  box-shadow: inset 0px 0px 0px 2px $fpoc;
  background-color: $fpoc-bg)
}
div>div>div {
  -webkit-box-shadow: inset 0px 0px 0px 2px $fpoo;
  -moz-box-shadow: inset 0px 0px 0px 2px $fpoo;
  box-shadow: inset 0px 0px 0px 2px $fpoo;
  background-color: $fpoo-bg)
}
 */
/* | DEV NOTE/UPDATE WIDGET *//*# sourceMappingURL=utils.css.map */