/*! Feral Creative CSS Utilities v2025.12.14.1421: https://feralcreative.co */

// Updated:

// To use these, add this to your CSS file:
//| @import url("https://feralcreative.dev/utils.css");
//| @import url("https://securesite.dev/utils.css");
// * Minified
//| @import url("https://feralcreative.dev/utils.min.css");
//| @import url("https://securesite.dev/utils.min.css");

// or this to your HTML doc:
//| <link rel="stylesheet" href="https://feralcreative.dev/utils.css" type="text/css">
//| <link rel="stylesheet" href="https://securesite.dev/utils.css" type="text/css">

// * Minified
//| <link rel="stylesheet" href="https://feralcreative.dev/utils.min.css" type="text/css">
//| <link rel="stylesheet" href="https://securesite.dev/utils.min.css" type="text/css">

//^^ Ziad Ezzat
//^^ Feral Creative Colony
//^^ Oakland, California
//^^ (510) 500-5456
//^^ ziad@feralcreative.co
//^^ https://feralcreative.co

//| Highlight
//* Important
//! Alert
//? Question
/// Warning
// TODO: To do
// -  Strikethrough (triple dash)
//^^ Notes
//@ media query
//~ information
//# marker

@use "style/variables" as *;

// Dev Borders
$dev-border-colors: (
  aq: aqua,
  k: black,
  b: blue,
  br: brown,
  c: cyan,
  go: gold,
  gr: gray,
  g: green,
  i: ivory,
  kh: khaki,
  l: lime,
  m: magenta,
  ma: maroon,
  nv: navy,
  ov: olive,
  o: orange,
  pk: pink,
  pu: purple,
  r: red,
  s: silver,
  t: teal,
  tu: turquoise,
  v: violet,
  w: white,
  y: yellow,
);

$dev-border-styles: (
  "dash": dashed,
  "dot": dotted,
);

// Dev border mixin
// Usage: @include dev(); // default red, 1px solid
// Usage: @include dev(b); // blue, 1px solid
// Usage: @include dev(g, 2px); // green, 2px solid
// Usage: @include dev(pu, 3px, dashed); // purple, 3px dashed
// Usage: @include dev(pu, 3px, "-"); // purple, 3px dashed (shorthand)
// Usage: @include dev(b, 2px, "."); // blue, 2px dotted (shorthand)
// Usage: @include dev(#ff00ff); // custom hex color, 1px solid
// Usage: @include dev(#00ff00, 2px, dotted); // custom hex, 2px dotted

@mixin dev($color: r, $width: 1px, $style: "—") {
  // Check if color is a key in the map, otherwise use it as-is (for hex codes)
  $resolved-color: if(map-has-key($dev-border-colors, $color), map-get($dev-border-colors, $color), $color);

  // Check if style is a key in the map, otherwise use it as-is
  $resolved-style: if(map-has-key($dev-border-styles, $style), map-get($dev-border-styles, $style), $style);

  border: $width $resolved-style $resolved-color !important;
}

@mixin version {
  #version h2::after {
    content: $date;
  }
  #version h2 {
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    width: 100vw;
    min-height: 25px;
    padding: 5px 0;
    background-color: $feral;
    font-size: 1em;
    font-weight: 600;
    color: white;
    text-align: center;
  }
}

.absolute {
  position: absolute !important;
}

.hidden,
.hide,
.invisible {
  display: none;
}

.fpop {
  -webkit-box-shadow: inset 0px 0px 0px 2px $fpop;
  -moz-box-shadow: inset 0px 0px 0px 2px $fpop;
  box-shadow: inset 0px 0px 0px 2px $fpop;
  &.bg {
    background: $fpop-bg;
  }
}

.fpor {
  -webkit-box-shadow: inset 0px 0px 0px 2px $fpor;
  -moz-box-shadow: inset 0px 0px 0px 2px $fpor;
  box-shadow: inset 0px 0px 0px 2px $fpor;
  &.bg {
    background: $fpor-bg;
  }
}

.fpoo {
  -webkit-box-shadow: inset 0px 0px 0px 2px $fpoo;
  -moz-box-shadow: inset 0px 0px 0px 2px $fpoo;
  box-shadow: inset 0px 0px 0px 2px $fpoo;
  &.bg {
    background: $fpoo-bg;
  }
}

.fpoor {
  -webkit-box-shadow: inset 0px 0px 0px 2px $fpoor;
  -moz-box-shadow: inset 0px 0px 0px 2px $fpoor;
  box-shadow: inset 0px 0px 0px 2px $fpoor;
  &.bg {
    background: $fpoor-bg;
  }
}

.fpoy {
  -webkit-box-shadow: inset 0px 0px 0px 2px $fpoy;
  -moz-box-shadow: inset 0px 0px 0px 2px $fpoy;
  box-shadow: inset 0px 0px 0px 2px $fpoy;
  &.bg {
    background: $fpoy-bg;
  }
}
.fpog {
  -webkit-box-shadow: inset 0px 0px 0px 2px $fpog;
  -moz-box-shadow: inset 0px 0px 0px 2px $fpog;
  box-shadow: inset 0px 0px 0px 2px $fpog;
  &.bg {
    background: $fpog-bg;
  }
}

.fpoc {
  -webkit-box-shadow: inset 0px 0px 0px 2px $fpoc;
  -moz-box-shadow: inset 0px 0px 0px 2px $fpoc;
  box-shadow: inset 0px 0px 0px 2px $fpoc;
  &.bg {
    background: $fpoc-bg;
  }
}
.fpob {
  -webkit-box-shadow: inset 0px 0px 0px 2px $fpob;
  -moz-box-shadow: inset 0px 0px 0px 2px $fpob;
  box-shadow: inset 0px 0px 0px 2px $fpob;
  &.bg {
    background: $fpob-bg;
  }
}

.fpo,
.fpom {
  -webkit-box-shadow: inset 0px 0px 0px 2px $fpo;
  -moz-box-shadow: inset 0px 0px 0px 2px $fpo;
  box-shadow: inset 0px 0px 0px 2px $fpo;
  &.bg {
    background: $fpom-bg;
  }
  &.out {
    border-color: $fpom;
  }
}

.fpo.out,
.fpom.out,
.fpop.out,
.fpor.out,
.fpoc.out,
.fpoy.out,
.fpog.out,
.fpob.out,
.fpoo.out,
.fpoor.out {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid;
}

.fpop.out {
  border-color: $fpop;
}

.fpoc.out {
  border-color: $fpoc;
}

.fpoy.out {
  border-color: $fpoy;
}

.fpor.out {
  border-color: $fpor;
}

.fpog.out {
  border-color: $fpog;
}

.fpob.out {
  border-color: $fpob;
}

.fpoo.out {
  border-color: $fpoo;
}

.fpoor.out {
  border-color: $fpoor;
}

.fpom .nc::before {
  content: "NEED CONTENT \A";
  font-size: inherit !important;
}

.li::before {
  content: "FPO \A";
  font-size: inherit !important;
}

.nc::before {
  content: "NEED CONTENT \A";
  font-size: inherit;
}

.nc::before,
.li::before {
  font-size: inherit !important;
  font-weight: bold;
  color: $fpom;
  white-space: pre-wrap;
}

.li,
.nc {
  padding: 5px;
  background-color: #dd00dd22;
  border-radius: 5px;
  font-size: inherit !important;
}

.mono {
  font-family: monospace;
}

pre {
  page-break-inside: avoid;
  display: block;
  overflow: auto;
  max-width: 100%;
  margin-bottom: 1.6em;
  padding: 1em 1.5em;
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #880088;
  font-size: 15px;
  font-family: monospace;
  line-height: 1.6;
  color: #666;
  word-wrap: break-word;
}

.white {
  color: white !important;
}

img.sample,
img.placeholder,
img.missing {
  background-color: lightgray;
}

.fpo-image {
  background-image: url("https://dev.feralcc.com/media/fpo.png");
  background-size: repeat;
}

.fpo-overlay::before {
  content: "FPO";
  position: relative;
  z-index: 999;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10vh;
  font-weight: 700;
  line-height: 1em;
  color: #ff00ff66;
  text-align: center;
}

//| VIEWPORT WIDGET */

body:has(.viewport-widget) {
  padding-top: 1.5em !important;
}

#viewport-widget,
.viewport-widget {
  width: 100vw !important;
  margin: 0 !important;
  padding: 0 !important;
  position: fixed !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  left: 0 !important;
  z-index: 100 !important;
  opacity: 0.95 !important;
  &.top {
    top: 0px !important;
  }
  &.bottom {
    bottom: 0 !important;
  }
}

.viewport-size {
  font-family: monospace;
  font-size: 0.75rem;
  line-height: 1em;
  color: white;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  width: 100vw !important;
  padding: 0;
}

/* X-Small (xs) - <576px */
@media (max-width: 575px) {
  .viewport-size {
    background-color: #f44336; // red;
    color: white !important;
    &:after {
      content: "XS (<576px)";
      font-weight: 600;
    }
  }
}

/* Small (sm) - ≥576px */
@media (min-width: 576px) and (max-width: 767.98px) {
  .viewport-size {
    background-color: #ff9800; // orange;
    color: black !important;
    &:after {
      content: "SM (≥576px)";
      font-weight: 600;
    }
  }
}

/* Medium (md) - ≥768px */
@media (min-width: 768px) and (max-width: 991.98px) {
  .viewport-size {
    background-color: #ffeb3b; // yellow;
    color: black !important;
    &:after {
      content: "MD (≥768px)";
      font-weight: 600;
    }
  }
}

/* Large (lg) - ≥992px */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .viewport-size {
    background-color: #4caf50; // green;
    color: white;
    &:after {
      content: "LG (≥992px)";
      font-weight: 600;
    }
  }
}

/* Extra Large (xl) - ≥1200px */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .viewport-size {
    background-color: #2196f3; // blue;
    color: white !important;
    &:after {
      content: "XL (≥1200px)";
      font-weight: 600;
    }
  }
}

/* Extra Extra Large (xxl) - ≥1400px */
@media (min-width: 1400px) {
  .viewport-size {
    background-color: #9c27b0; // purple;
    color: white;
    &:after {
      content: "XXL (≥1400px)";
      font-weight: 600;
    }
  }
}

/* | Flexbox */

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex.center {
  align-items: center;
}

.flex.middle {
  justify-items: center;
}

.flex.stretch {
  align-items: stretch;
}

.flex.reverse {
  flex-wrap: wrap-reverse;
}

.flex-10 {
  flex: 10%;
}

.flex-20 {
  flex: 20%;
}

.flex-30 {
  flex: 30%;
}

.flex-40 {
  flex: 40%;
}

.flex-50 {
  flex: 50%;
}

.flex-60 {
  flex: 60%;
}

.flex-70 {
  flex: 70%;
}

.flex-80 {
  flex: 80%;
}

.flex-90 {
  flex: 90%;
}

.flex-100 {
  flex: 100%;
}

/*| BOOTSTRAP COLUMN WIDGET */
.grid-widget {
  position: fixed !important;
  z-index: 999 !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  min-height: 100vh !important;
  margin: auto !important;
}

.grid-widget .grid-column {
  width: calc(8.33vw - 27.5px);
  min-height: 100vh !important;
  margin: 0 15px;
  padding: 0;
  padding-top: 50px !important;
  background-color: #ff00ff22;
  border: 0.5px solid #ff00ff;
  font-size: 2vw !important;
  font-weight: 500 !important;
  color: #ff00ff99;
  text-align: center !important;
}

.grid-widget .grid-column:first-child {
  margin: 0 15px 0 0;
}

.grid-widget .grid-column:last-child {
  margin: 0 0 0 15px;
}

/*| DIV COLORING WIDGET */
/* 
section {
    -webkit-box-shadow: inset 0px 0px 0px 2px $fpor;
    -moz-box-shadow: inset 0px 0px 0px 2px $fpor;
    box-shadow: inset 0px 0px 0px 2px $fpor;
    background-color: $fpor-bg);
}
div {
    -webkit-box-shadow: inset 0px 0px 0px 2px $fpo;
    -moz-box-shadow: inset 0px 0px 0px 2px $fpo;
    box-shadow: inset 0px 0px 0px 2px $fpo;
    background-color: $fpo-bg);
}
div>div {
    -webkit-box-shadow: inset 0px 0px 0px 2px $fpoc;
    -moz-box-shadow: inset 0px 0px 0px 2px $fpoc;
    box-shadow: inset 0px 0px 0px 2px $fpoc;
    background-color: $fpoc-bg);
}
div>div>div {
    -webkit-box-shadow: inset 0px 0px 0px 2px $fpoo;
    -moz-box-shadow: inset 0px 0px 0px 2px $fpoo;
    box-shadow: inset 0px 0px 0px 2px $fpoo;
    background-color: $fpoo-bg);
}
 */

/* | DEV NOTE/UPDATE WIDGET */

@mixin devnote {
  .devnote {
    position: fixed;
    z-index: 999999999999999;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 3px 20px;
    background-color: #880088e6;
    font-size: 12px;
    font-weight: 400;
    color: white;
    text-align: center;
    letter-spacing: 0.05em;
  }

  .devnote > .date {
    font-weight: 700;
  }

  .devnote.green {
    background-color: #006600e6;
    color: white;
  }

  .devnote.blue {
    background-color: #000066e6;
    color: white;
  }

  .devnote.yellow {
    background-color: #fff200e6;
    color: black;
  }

  .devnote.cyan {
    background-color: #00ffffe6;
    color: black;
  }

  .devnote.purple {
    background-color: #8c00ffe6;
    color: white;
  }
}
