$feral: #808;
$fpo: #f0f;
$fpom: #f0f;
$fpop: #9b00ff;
$fpoc: #0ff;
$fpoy: #cc0;
$fpor: #f00;
$fpog: #0a0;
$fpob: #00f;
$fpoo: #964b00;
$fpoor: #ffa503;
$fpo-bg: #ff00ff22;
$fpom-bg: #ff00ff22;
$fpop-bg: #9b00ff44;
$fpoc-bg: #00ffff33;
$fpoy-bg: #cccc0022;
$fpor-bg: #ff000022;
$fpog-bg: #00aa0033;
$fpob-bg: #0000ff22;
$fpoo-bg: #964b0033;
$fpoor-bg: #ffa50333;
